
//MEDIAS
@media screen and (min-width: 620px) {
    .hamburger {
      display: none;
    }
    .webpage-header {
      display: flex;
      li {
        list-style: none;
        padding: 10px;
        height: 100%;
        a {
          color: #6c72cb;
          opacity: 0.8;
          transition: 0.2s;
          &:hover {
            opacity: 1;
          }
          &::after {
            display: block;
            content: "";
            border-bottom: solid 3px #cb69c1;
            transform: scaleX(0);
            transition: transform 0.5s ease-in-out;
            margin-top: 5px;
          }
          &:hover::after {
            transform: scaleX(1);
          }
        }
      }
    }
  
    .home {
      margin-top: 200px;
      margin-left: 50px;
      min-height: 70vh;
      p {
        width: 400px;
      }
    }
    #about {
      align-items: flex-start;
  
      .content {
        p {
          width: 600px;
        }
        .my-face {
          text-align: center;
        }
      }
      .skills {
        p {
          width: 500px;
        }
        .skills-set {
          i,
          img {
            padding: 25px 20px;
          }
        }
      }
    }
    .flat {
      width: 80px;
    }
    #education {
      min-height: 70vh;
      flex-direction: row;
    }
    #contact {
      min-height: 60vh;
      margin-top: 100px;
      margin-left: 50px;
      p {
        width: 400px;
      }
      .contact-container {
        margin-top: 200px;
      }
    }
  }
  
  @media screen and (min-width: 960px) {
    .webpage-header {
      height: 50px;
      text-align: center;
      li {
        padding: 20px 30px;
      }
    }
  
    .home {
      margin-top: 230px;
      margin-left: 100px;
      p {
        width: 450px;
      }
    }
  
    #about {
      .content {
        margin: 100px 0;
        display: flex;
        flex-direction: row;
        height: 100%;
        align-items: center;
        justify-content: center;
        margin-right: 150px;
        p {
          width: 600px;
        }
        .my-face {
          text-align: center;
        }
      }
      .skills {
        max-width: 60vw;
        p {
          width: 500px;
        }
        .skills-set {
          i,
          img {
            padding: 35px 30px;
          }
        }
      }
    }
    .flat {
      width: 100px;
    }
    #education {
      min-height: 60vh;
      flex-direction: row;
      .uni {
        padding: 0 80px;
      }
    }
    #work {
      max-width: 60vw;
      margin-left: 100px;
      min-height: 80vh;
      .work-container {
        margin-left: 200px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 100px;
        min-height: 20vh;
      }
    }
    #contact {
      margin-top: 150px;
      margin-left: 100px;
      min-height: 50vh;
      p {
        width: 400px;
      }
      .contact-container {
        margin-top: 200px;
      }
    }
  }
  @media screen and (min-width: 1200px) {
    .home {
      margin-left: 200px;
      h1 {
        font-size: 4rem;
      }
      h2 {
        font-size: 3.5rem;
      }
      p {
        width: 600px;
        font-size: 1.4rem;
        line-height: 1.8rem;
      }
    }
    #about {
      .content {
        margin-left: 50px;
        p {
          width: 800px;
          font-size: 1.4rem;
          line-height: 1.8rem;
        }
      }
    }
    #education {
      padding: 100px 0;
      justify-content: flex-start;
      margin-left: 50px;
      .uni {
        h2 {
          font-size: 3rem;
        }
        h5 {
          font-size: 1rem;
        }
        p {
          font-size: 1.4rem;
        }
      }
      .courses {
        h2 {
          font-size: 3rem;
        }
        h4 {
          font-size: 1.3rem;
        }
      }
    }
    #work {
      .content {
        margin-left: 200px;
        p {
          font-size: 1.4rem;
        }
      }
    }
    #contact {
      min-height: 70vh;
      margin-left: 200px;
      .contact-container {
        h1 {
          font-size: 4rem;
        }
        h2 {
          font-size: 3.5rem;
        }
        p {
          width: 600px;
          font-size: 1.4rem;
          line-height: 1.8rem;
        }
      }
    }
  }
  
  @media screen and (min-width: 1500px) {
    #work {
      .work-container {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 100px;
        min-height: 20vh;
      }
    }
    #contact {
      min-height: 80vh;
    }
    #about {
      .content {
        margin-left: 100px;
        img {
            margin-left: 50px;
        }
      }
      .skills {
        max-width: 60vw;
        p {
          width: 100%;
        }
      }
    }
  
    .footer {
      .icons {
        &::before {
          content: "";
          height: 1px;
          width: 80%;
          background-color: #eeedf0;
          position: absolute;
          right: 0;
          bottom: 50%;
          left: 6%;
          z-index: 1000;
        }
      }
    }
  }
  
